PublicHospital/Test/Service References/WCFAdminServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceLayer" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_GetAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdmin" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAdmin_AdminFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q1:AdminFault" />
  </wsdl:message>
  <wsdl:message name="IAdminService_InsertAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAdmin" />
  </wsdl:message>
  <wsdl:message name="IAdminService_InsertAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_InsertAdmin_AdminFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q2:AdminFault" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdateAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdmin" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdateAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_UpdateAdmin_AdminFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q3:AdminFault" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="GetAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAdmin" message="tns:IAdminService_GetAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAdminResponse" message="tns:IAdminService_GetAdmin_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAdminService/GetAdminAdminFaultFault" name="AdminFaultFault" message="tns:IAdminService_GetAdmin_AdminFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/InsertAdmin" message="tns:IAdminService_InsertAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/InsertAdminResponse" message="tns:IAdminService_InsertAdmin_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAdminService/InsertAdminAdminFaultFault" name="AdminFaultFault" message="tns:IAdminService_InsertAdmin_AdminFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/UpdateAdmin" message="tns:IAdminService_UpdateAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/UpdateAdminResponse" message="tns:IAdminService_UpdateAdmin_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAdminService/UpdateAdminAdminFaultFault" name="AdminFaultFault" message="tns:IAdminService_UpdateAdmin_AdminFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminService" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdmin">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdminFaultFault">
        <soap:fault use="literal" name="AdminFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertAdmin">
      <soap:operation soapAction="http://tempuri.org/IAdminService/InsertAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdminFaultFault">
        <soap:fault use="literal" name="AdminFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdmin">
      <soap:operation soapAction="http://tempuri.org/IAdminService/UpdateAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AdminFaultFault">
        <soap:fault use="literal" name="AdminFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="BasicHttpBinding_IAdminService" binding="tns:BasicHttpBinding_IAdminService">
      <soap:address location="http://localhost:8080/ServiceLayer/AdminService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>