PublicHospital/WindowsFormsClient/Service References/PatientService/DataLayer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DoctorBDO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AdminBDO">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="specialty" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DoctorBDO" nillable="true" type="tns:DoctorBDO" />
  <xs:complexType name="AdminBDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="streetNr" type="xs:int" />
      <xs:element minOccurs="0" name="zip" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminBDO" nillable="true" type="tns:AdminBDO" />
  <xs:complexType name="PatientBDO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AdminBDO">
        <xs:sequence>
          <xs:element minOccurs="0" name="appointmentsHistory" nillable="true" type="tns:ArrayOfAppointmentBDO" />
          <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PatientBDO" nillable="true" type="tns:PatientBDO" />
  <xs:complexType name="ArrayOfAppointmentBDO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppointmentBDO" nillable="true" type="tns:AppointmentBDO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointmentBDO" nillable="true" type="tns:ArrayOfAppointmentBDO" />
  <xs:complexType name="AppointmentBDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="doctor" nillable="true" type="tns:DoctorBDO" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="patient" nillable="true" type="tns:PatientBDO" />
      <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="visit" nillable="true" type="tns:VisitBDO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentBDO" nillable="true" type="tns:AppointmentBDO" />
  <xs:complexType name="VisitBDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="advice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="appoint" nillable="true" type="tns:AppointmentBDO" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="patientProblem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="symptom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisitBDO" nillable="true" type="tns:VisitBDO" />
</xs:schema>