PublicHospital/WindowsFormsClient/Service References/AppointmentServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AppointmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceLayer" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAppointmentService_GetAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointment" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GetAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GetAppointment_AppointmentFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q1:AppointmentFault" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GetAllAppointments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppointments" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GetAllAppointments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppointmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GetAllAppointments_AppointmentFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q2:AppointmentFault" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_UpdateAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppointment" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_UpdateAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_UpdateAppointment_AppointmentFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q3:AppointmentFault" />
  </wsdl:message>
  <wsdl:portType name="IAppointmentService">
    <wsdl:operation name="GetAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/GetAppointment" message="tns:IAppointmentService_GetAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/GetAppointmentResponse" message="tns:IAppointmentService_GetAppointment_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppointmentService/GetAppointmentAppointmentFaultFault" name="AppointmentFaultFault" message="tns:IAppointmentService_GetAppointment_AppointmentFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAppointments">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/GetAllAppointments" message="tns:IAppointmentService_GetAllAppointments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/GetAllAppointmentsResponse" message="tns:IAppointmentService_GetAllAppointments_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppointmentService/GetAllAppointmentsAppointmentFaultFault" name="AppointmentFaultFault" message="tns:IAppointmentService_GetAllAppointments_AppointmentFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/UpdateAppointment" message="tns:IAppointmentService_UpdateAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/UpdateAppointmentResponse" message="tns:IAppointmentService_UpdateAppointment_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAppointmentService/UpdateAppointmentAppointmentFaultFault" name="AppointmentFaultFault" message="tns:IAppointmentService_UpdateAppointment_AppointmentFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAppointmentService" type="tns:IAppointmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAppointment">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/GetAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AppointmentFaultFault">
        <soap:fault use="literal" name="AppointmentFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllAppointments">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/GetAllAppointments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AppointmentFaultFault">
        <soap:fault use="literal" name="AppointmentFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAppointment">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/UpdateAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AppointmentFaultFault">
        <soap:fault use="literal" name="AppointmentFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppointmentService">
    <wsdl:port name="BasicHttpBinding_IAppointmentService" binding="tns:BasicHttpBinding_IAppointmentService">
      <soap:address location="http://localhost:8080/ServiceLayer/AppointmentService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>