PublicHospital/WindowsFormsClient/Service References/AdminServiceRef/ServiceLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Admin">
    <xs:sequence>
      <xs:element minOccurs="0" name="RowVersion" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="streetNr" type="xs:int" />
      <xs:element minOccurs="0" name="zip" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admin" nillable="true" type="tns:Admin" />
  <xs:complexType name="AdminFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminFault" nillable="true" type="tns:AdminFault" />
</xs:schema>